.brand{

    padding: 7rem 1.4rem;
    background-color: $bg-pricing-color;

    &-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        img{
            width: 26.3rem;
        }
    }
}
@media screen and (max-width: 1023px) {
    .brand{

        &-container{
            grid-template-columns: repeat(2,1fr);
            column-gap: 3rem;
            row-gap: 3rem;
            img{
                width: 100%;
            }
        }
    }
}