$primary-color: #3182CE;
$bg-header-color: #C5E6F9;
$heading-color: #1A202C;
$text-color: #4A5568;
$input-color: #E2E8F0;
$basic-color: #81E6D9;
$pro-color: #0067F4;
$enterprise-color: #4DA422;
$footer-color: #2A4365;
$bg-pricing-color:#F7FAFC;

$service-title-size: 2.4rem;
$heading-size: 4.8rem;
$headprice-size: 5.4rem;
$text-size: 1.6rem;
$text-size__small: 1.4rem;
$pricing-title-size: 1.8rem;